### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [82]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [83]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [84]:
#total number of transactions
transactions = purchase_data["Purchase ID"].count()
transactions

780

In [85]:
#using the column SN, find unique names to determine the number of players
players_df = purchase_data["SN"].nunique()
players_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
# find the number of unique items
items_df = purchase_data["Item ID"].nunique()
items_df

183

In [87]:
#find the average price of each item
#create index of unique items and the price by dropping duplicates
u_items = purchase_data.drop_duplicates(["Item ID"])
u_items

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
673,673,Idacal95,30,Male,130,Alpha,2.07
700,700,Chanosia60,31,Male,90,Betrayer,2.94
717,717,Chanilsast61,30,Male,177,"Winterthorn, Defender of Shifting Worlds",2.08
727,727,Yathecal82,20,Female,104,Gladiator's Glaive,1.93
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36

In [88]:
#find the sum of the unique items
tot_price = u_items["Price"].sum()
tot_price

556.94

In [89]:
#find average price of the unique items
avg_price = tot_price / items_df
avg_price = avg_price.round(2)
avg_price

3.04

In [90]:
#average price of each purchase
purchase_sum = purchase_data["Price"].sum()
items_total = purchase_data["SN"].count()
average_purchase = purchase_sum / items_total
average_purchase = average_purchase.round(2)
average_purchase

3.05

In [91]:
#most expensive items
item_exp = u_items.sort_values(by=["Price"], ascending=False)
item_exp.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94
275,275,Smaistysu35,30,Male,173,Stormfury Longsword,4.93
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93
284,284,Firan91,24,Male,128,"Blazeguard, Reach of Eternity",4.91

In [92]:
#least expensive item
item_cheap = u_items.sort_values(by=["Price"])
item_cheap.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01
239,239,Eodailis27,30,Male,19,"Pursuit, Cudgel of Necromancy",1.02
83,83,Aina42,25,Male,12,Dawne,1.02
260,260,Saida58,16,Male,70,Hope's End,1.03

In [93]:
#best selling item
purchase_data["Item ID"].value_counts()

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [94]:
#worst selling item
purchase_data["Item ID"].value_counts(ascending=True)

51      1
27      1
104     1
118     1
42      1
       ..
92      8
145     9
108     9
82      9
178    12
Name: Item ID, Length: 183, dtype: int64

In [95]:
#create a summary dictionary
sum_dic = {"Number of Players" : players_df, "Number of Transactions" : transactions, "Unique Items": items_df,"Average Price": avg_price, "Averagae Purchase": average_purchase}
sum_dic

{'Number of Players': 576,
 'Number of Transactions': 780,
 'Unique Items': 183,
 'Average Price': 3.04,
 'Averagae Purchase': 3.05}

In [96]:
#create a summary df from the dictionary
pd.DataFrame.from_dict([sum_dic])

,Number of Players,Number of Transactions,Unique Items,Average Price,Averagae Purchase
0,576,780,183,3.04,3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [97]:
#find counts of player genders- unique players
player_unique = purchase_data.drop_duplicates(["SN"])
player_gender = player_unique["Gender"].value_counts()
player_gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [98]:
#count of male players
num_male = (player_unique["Gender"]=='Male').sum()
num_male

484

In [99]:
#percentage of male players
percent_male = num_male / players_df
percent_male = percent_male.round(4) * 100
percent_male

84.03

In [100]:
#count of female players
num_female = (player_unique["Gender"]=='Female').sum()
num_female

81

In [101]:
#percentage of female players
percent_female = num_female / players_df
percent_female = percent_female.round(4) * 100
percent_female

14.06

In [102]:
#count of other / non-disclosed
num_other = (player_unique["Gender"]=='Other / Non-Disclosed').sum()
num_other

11

In [103]:
#percentae of other / non-disclosed
percent_other = num_other / players_df
percent_other = percent_other.round(4) * 100
percent_other

1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [163]:
#purchase count, average purchase price, average purchase total- by each gender gender

#male count
purchase_male = purchase_data[purchase_data["Gender"]=="Male"]
male_purchase_count = purchase_male["Gender"].value_counts()
print(male_purchase_count)

#male average purchase price
tot_price_male = purchase_male["Price"].sum()
print(tot_price_male)

avg_price_male = tot_price_male / male_purchase_count
avg_price_male = avg_price_male.round(2)
print(avg_price_male)

#average purchase total- by individual user
grouped_male = purchase_male.groupby(["SN"])
grouped_male.count().head(10)
grouped_male_purchase = grouped_male["Price"].sum().mean()
print(grouped_male_purchase)

Male    652
Name: Gender, dtype: int64
1967.64
Male    3.02
Name: Gender, dtype: float64
4.06537190082645

In [165]:
#female count
purchase_female = purchase_data[purchase_data["Gender"]=="Female"]
female_purchase_count = purchase_female["Gender"].value_counts()
print(female_purchase_count)

#female average purchase price
tot_price_female = purchase_female["Price"].sum()
print(tot_price_female)

avg_price_female = tot_price_female / female_purchase_count
avg_price_female = avg_price_female.round(2)
print(avg_price_female)

#average purchase total- by individual user
grouped_female = purchase_female.groupby(["SN"])
grouped_female.count().head(10)
grouped_female_purchase = grouped_female["Price"].sum().mean()
print(grouped_female_purchase)

Female    113
Name: Gender, dtype: int64
361.94
Female    3.2
Name: Gender, dtype: float64
4.468395061728394

In [166]:
#purchase count, average purchase price, average purchase total- by each gender gender

#Other / Non-Disclosed count
purchase_other = purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]
other_purchase_count = purchase_other["Gender"].value_counts()
print(other_purchase_count)

#Other / Non-Disclosed average purchase price
tot_price_other = purchase_other["Price"].sum()
print(tot_price_other)

avg_price_other = tot_price_other / other_purchase_count
avg_price_other = avg_price_other.round(2)
print(avg_price_other)

#Other / Non-Disclosedaverage purchase total- by individual user
grouped_other = purchase_other.groupby(["SN"])
grouped_other.count().head(10)
grouped_other_purchase = grouped_other["Price"].sum().mean()
print(grouped_other_purchase)

Other / Non-Disclosed    15
Name: Gender, dtype: int64
50.19
Other / Non-Disclosed    3.35
Name: Gender, dtype: float64
4.5627272727272725

In [191]:
#summary
gender_sum = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
              "Counts":[male_purchase_count, female_purchase_count, other_purchase_count],
             "Avg Purchase":[avg_price_male, avg_price_female, avg_price_other],
             "Avg Purchase Total": [grouped_male_purchase, grouped_female_purchase, grouped_other_purchase]})

gender_sum

,Gender,Counts,Avg Purchase,Avg Purchase Total
0,Male,"Male 652 Name: Gender, dtype: int64","Male 3.02 Name: Gender, dtype: float64",4.065372
1,Female,"Female 113 Name: Gender, dtype: int64","Female 3.2 Name: Gender, dtype: float64",4.468395
2,Other / Non-Disclosed,"Other / Non-Disclosed 15 Name: Gender, dtyp...","Other / Non-Disclosed 3.35 Name: Gender, dt...",4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [197]:
#establish bins
#find minimum and maximum age
print(purchase_data["Age"].min())
print(purchase_data["Age"].max())
bins = [0,10,15,20,25,30,35,40,100]
bin_labels = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34",
              "35-39", "Over 40"]
pd.cut(purchase_data["Age"], bins, labels=bin_labels).head()

7
45

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [Under 10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < Over 40]

In [198]:
#insert age labels into the dataframe
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [199]:
#numbers and percentage by group
age_bin = purchase_data.groupby(["Age Group"])
group_count = age_bin["SN"].count()
print(group_count)
bin_percent = (group_count / players_df) * 100
bin_percent= bin_percent.round(2)
bin_percent

Age Group
Under 10     32
10-14        54
15-19       200
20-24       325
25-29        77
30-34        52
35-39        33
Over 40       7
Name: SN, dtype: int64

Age Group
Under 10     5.56
10-14        9.38
15-19       34.72
20-24       56.42
25-29       13.37
30-34        9.03
35-39        5.73
Over 40      1.22
Name: SN, dtype: float64

In [200]:
#summary table
age_groups = pd.DataFrame({"Age Group Total" : group_count, "Percent" : bin_percent})
age_groups

           Age Group Total  Percent
Age Group
Under 10                32     5.56
10-14                   54     9.38
15-19                  200    34.72
20-24                  325    56.42
25-29                   77    13.37
30-34                   52     9.03
35-39                   33     5.73
Over 40                  7     1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [201]:
#using previous binned table
#by age- purchase count
agegroup_purchase_count = age_bin["Age"].count()
print(agegroup_purchase_count)
agegroup_purchase_avg = age_bin["Price"].mean()
agegroup_purchase_avg = agegroup_purchase_avg.round(2)
print(agegroup_purchase_avg)
agegroup_purchase_tot = age_bin["Price"].sum()
print(agegroup_purchase_tot)

Age Group
Under 10     32
10-14        54
15-19       200
20-24       325
25-29        77
30-34        52
35-39        33
Over 40       7
Name: Age, dtype: int64
Age Group
Under 10    3.40
10-14       2.90
15-19       3.11
20-24       3.02
25-29       2.88
30-34       2.99
35-39       3.40
Over 40     3.08
Name: Price, dtype: float64
Age Group
Under 10    108.96
10-14       156.60
15-19       621.56
20-24       981.64
25-29       221.42
30-34       155.71
35-39       112.35
Over 40      21.53
Name: Price, dtype: float64

In [203]:
#summary table
age_group_purchase_summary = pd.DataFrame({"Purchase Count":agegroup_purchase_count,
                                           "Total Puchase": agegroup_purchase_tot,
                                          "Average Purchase" : agegroup_purchase_avg})
age_group_purchase_summary

           Purchase Count  Total Puchase  Average Purchase
Age Group
Under 10               32         108.96              3.40
10-14                  54         156.60              2.90
15-19                 200         621.56              3.11
20-24                 325         981.64              3.02
25-29                  77         221.42              2.88
30-34                  52         155.71              2.99
35-39                  33         112.35              3.40
Over 40                 7          21.53              3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [210]:
#identify the top 5 spenders- by total purchases
#list SN, purchase count, average purchase price, total purchase price

#group by screen name
player_spend = purchase_data.groupby("SN")
#purchase total
player_spend_total = player_spend["Price"].sum()
#average purchase
avg_player_purchase = player_spend["Price"].mean()
avg_player_purchase = avg_player_purchase.round(2)
#purchase totals
total_player_purchase = player_spend["Purchase ID"].count()

In [213]:
#summary table
spender_sum = pd.DataFrame({"Purchase Total": player_spend_total, 
                           "Number of Purchases": total_player_purchase,
                           "Average Purchases" : avg_player_purchase})
spender_sum
sorted_sum = spender_sum.sort_values(["Purchase Total"], ascending=False)
sorted_sum.head()

             Purchase Total  Number of Purchases  Average Purchases
SN
Lisosia93             18.96                    5               3.79
Idastidru52           15.45                    4               3.86
Chamjask73            13.83                    3               4.61
Iral74                13.62                    4               3.40
Iskadarya95           13.10                    3               4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [225]:
#new popular item dataframe- remove customer information
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
#popular_df.head()
popular_items = popular_df.groupby(["Item ID", "Item Name"])
popular_count = popular_items["Price"].count()
popular_value = popular_items["Price"].sum()
popular_price = popular_value / popular_count

In [231]:
#summary table
popular_sum = pd.DataFrame({"Purchase Count": popular_count,
                           "Item Price": popular_price,
                           "Total Item Value": popular_value})
popular_sum

,,Purchase Count,Item Price,Total Item Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [234]:
#sort by purchase count
popular_sort_sum = popular_sum.sort_values(["Purchase Count"], ascending=False)
popular_sort_sum.head()

,,Purchase Count,Item Price,Total Item Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [236]:
profit_sort = popular_sum.sort_values(["Total Item Value"], ascending=False)
profit_sort.head()

,,Purchase Count,Item Price,Total Item Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80